* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

html {
    body {
        position: relative;
        height: 100%;
        color: #000;
    }
}

.navbar {
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 999;
    top: 0;

    .logo img {
        height: 40px;
    }

    .menu {
        display: flex;
        gap: 2rem;
        list-style: none;

        a {
            text-decoration: none;
            color: #E31837;
            font-weight: 500;
            transition: color 0.3s;

            &:hover {
                color: #951326;
            }
        }
    }

    .social {
        display: flex;
        gap: 1rem;

        a {
            color: #E31837;
            font-size: 1.2rem;
            transition: opacity 0.3s;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    .hamburger {
        display: none;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0.5rem;

        .bar {
            width: 25px;
            height: 3px;
            background: #2A2A72;
            margin: 5px 0;
            transition: 0.3s;
        }
    }
}

.swiper {
    width: 100%;
    height: 75vh;

    .swiper-slide {
        position: relative;
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            -webkit-mask-image: linear-gradient(to top, black 0%, black 50%, transparent 100%);
            mask-image: linear-gradient(to top, black 0%, black 50%, transparent 100%);
            -webkit-mask-mode: alpha;
            mask-mode: alpha;
        }

        .slide-text-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 30%;
            height: 100%;
            background: linear-gradient(to right, #E31837, transparent);
            color: white;
            padding: 20px;
            text-align: center;
            display: flex;
            align-items: flex-end;
        }

        .slide-text {
            margin: 0;
            font-size: 3.5rem;
            font-weight: bold;
            padding-bottom: 40px;
        }
    }

    .autoplay-progress {
        position: absolute;
        right: 16px;
        bottom: 16px;
        z-index: 10;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: var(--swiper-theme-color);

        svg {
            --progress: 0;
            position: absolute;
            left: 0;
            top: 0px;
            z-index: 10;
            width: 100%;
            height: 100%;
            stroke-width: 4px;
            stroke: var(--swiper-theme-color);
            fill: none;
            stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
            stroke-dasharray: 125.6;
            transform: rotate(-90deg);
        }
    }

}

.servicios {
    padding: 6rem 8rem 8rem;
    text-align: center;
    background: #ffffff;

    .servicios-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .servicio {
        position: relative;
        background: white;
        border-radius: 12px;
        overflow: hidden;
        transition: transform 0.3s ease;

        .imagen-container {
            position: relative;
            height: 250px;
            background: #c22424;
            margin-bottom: 20px;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            overflow: hidden;

            .servicio-imagen {
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0.7;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .ilustracion-overlay {
                position: absolute;
                width: 90px;
                height: 90px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                pointer-events: none;
            }
        }

        .circle-container {
            position: absolute;
            top: 230px;
            left: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #fff;
            color: #c22424;
            font-weight: bold;
            z-index: 1;
            border: 1px solid white;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .servicio-titulo {
            color: #000;
            margin: 1.5rem 0 1rem;
            font-size: 1.4rem;
            text-align: left;
            padding-left: 0.5rem;
            text-transform: uppercase;
        }

        .servicio-descripcion {
            color: rgba(#000, 0.9);
            padding: 0 1.5rem 1.5rem;
            line-height: 1.5;
            text-align: left;
            padding-left: 0.5rem;
        }
    }
}

.proyectos {
    position: relative;

    .proyectos-hero {
        background: #0f0f54;
        position: relative;
        z-index: 10;

        .title {
            // background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
            color: #fff;
            text-align: center;
            padding: 4rem 0;
            font-size: 1.75rem;
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    .proyectos-imagen-fondo {
        position: absolute;
        top: -50%;
        bottom: -50%;
        left: 40%;
        width: 250px;
        height: auto;
        opacity: 0.5;
        z-index: 11;
        object-fit: cover;
        object-position: center center;
    }
}

.clientes {
    padding: 8rem 1rem 6rem;
    text-align: center;
    background: linear-gradient(to bottom, #fff, #E31837, #E31837, #E31837);

    .clientes-hero {
        .title {
            color: #fff;
            text-align: center;
            padding: 3rem 0;
            font-size: 1.25rem;
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    .clientes-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 1rem;

        .cliente {
            background: #e7282855;
            border-radius: 12px;
            overflow: hidden;
            transition: transform 0.3s ease;

            &:hover {
                transform: translateY(-5px);
            }

            .imagen-container {
                height: 150px;
                background: #c22424;
                align-items: center;
                display: grid;
                align-content: center;
                justify-items: center;

                &:hover {
                    background: rgb(212, 117, 117);
                }

                .cliente-imagen {
                    width: 50%;
                    object-fit: cover;
                    opacity: 1;
                    transition: opacity 0.3s ease;
                }
            }
        }

        &>article:nth-child(8),
        &>article:nth-child(9) {
            grid-column: span 2;
        }
    }
}

.infobar1 {
    background-color: #c22424;

    .title {
        color: #fff;
        text-align: center;
        padding: 1rem 0;
        font-size: 0.9rem;
        text-transform: uppercase;

        a {
            color: #fff;
            text-decoration: underline;
        }
    }
}

.infobar2 {
    .title {
        color: #E31837;
        text-align: center;
        padding: 1rem 0;
        font-size: 0.9rem;
        text-transform: uppercase;

        a {
            color: #E31837;
            text-decoration: underline;
        }
    }
}

.formulario {
    background-color: #E31837;
    color: white;
    padding: 6rem 4rem;
    border-top: #fff 3px solid;

    .formulario-container {
        max-width: 1000px;
        margin: 0 auto;
    }

    .formulario-titulo {
        font-size: 2em;
        text-align: center;
        margin-bottom: 2rem;
    }

    .formulario-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .formulario-grid-anidado {
        display: grid;
        gap: 1.25rem;

        &.formulario-grid-anidado--izquierda {
            grid-template-areas:
                "nombre       email"
                "telefono     planeta"
                "mensaje      mensaje"
                "info         info";

            &>.formulario-campo:nth-child(1) {
                grid-area: nombre;
            }

            &>.formulario-campo:nth-child(2) {
                grid-area: email;
            }

            &>.formulario-campo:nth-child(3) {
                grid-area: telefono;
            }

            &>.formulario-campo:nth-child(4) {
                grid-area: planeta;
            }

            &>.formulario-campo:nth-child(5) {
                grid-area: mensaje;
            }

            &>.formulario-campo:nth-child(6) {
                grid-area: info;
            }
        }

        &.formulario-grid-anidado--derecha {
            align-items: center;
            grid-template-areas:
                "titulo       titulo"
                "feliz        feliz"
                "rico         rico"
                "avion        avion"
                "dormir       dormir"
                "privacidad   submit";

            &>.formulario-campo:nth-child(1) {
                grid-area: titulo;
            }

            &>.formulario-campo:nth-child(2) {
                grid-area: feliz;
            }

            &>.formulario-campo:nth-child(3) {
                grid-area: rico;
            }

            &>.formulario-campo:nth-child(4) {
                grid-area: avion;
            }

            &>.formulario-campo:nth-child(5) {
                grid-area: dormir;
            }

            &>.formulario-campo:nth-child(6) {
                grid-area: privacidad;
            }

            &>.formulario-campo:nth-child(7) {
                grid-area: submit;
            }
        }
    }

    .formulario-campo {
        display: flex;
        flex-direction: column;

        &--completo {
            grid-column: 1 / -1;
        }

        &--completo-anidado {
            grid-column: 1 / -1;
        }

        &--centrado {
            text-align: center;
        }

        &--checkbox {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            align-items: center;
        }
    }

    .formulario-label {
        margin-bottom: 1rem;
        display: block;

        &--titulo-derecha {
            text-align: start;
        }
    }

    .formulario-input,
    .formulario-textarea {
        padding: 10px;
        border: none;
        border-radius: 8px;
        background-color: white;
        color: red;
        width: 100%;
        box-sizing: border-box;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: rgba(red, 0.7);
            font-weight: bold;
        }
    }

    .formulario-textarea {
        resize: vertical;
    }

    .formulario-radio-group {
        display: flex;
        flex-direction: column;
    }

    .formulario-radio-item {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .formulario-radio-input {
        appearance: none;
        width: 35px;
        height: 30px;
        border: 2px solid white;
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        position: relative;
        vertical-align: middle;

        &:checked {
            background-color: yellow;
            border-color: yellow;

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: black;
            }
        }

        &:focus {
            box-shadow: 0 0 0 2px rgba(yellow, 0.5);
        }
    }

    .formulario-radio-label {
        margin-left: 20px;
        width: 100%;
        display: inline-block;
        padding: 8px 15px;
        border: 2px solid white;
        border-radius: 5px;
        background-color: transparent;
        color: white;
        vertical-align: middle;
        box-sizing: border-box;
        cursor: pointer;
    }

    .formulario-link {
        color: yellow;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    .formulario-checkbox-input {
        appearance: none;
        width: 50px;
        height: 30px;
        border: 2px solid white;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        position: relative;
        vertical-align: middle;

        &:checked {
            background-color: yellow;
            border-color: yellow;

            &::after {
                content: '\2713';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 14px;
                color: black;
                line-height: 1;
            }
        }

        &:focus {
            box-shadow: 0 0 0 2px rgba(yellow, 0.5);
        }
    }

    .formulario-checkbox-label {
        margin-left: 10px;
        vertical-align: middle;
        line-height: 1.4;
    }

    .formulario-boton {
        background-color: yellow;
        color: red;
        font-weight: bold;
        border-radius: 16px;
        border: none;
        padding: 12px 30px;
        font-size: 1.1em;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: rgb(213, 213, 14);
        }
    }

    .formulario-info {
        font-size: 0.9em;
        line-height: 1.4;
    }
}

footer {
    background-color: #0f0f54;
    padding: 4rem 2rem 2rem;

    .footer-row-1,
    .footer-row-2 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer-col-1,
    .footer-col-2,
    .footer-col-3,
    .footer-col-4,
    .footer-col-5,
    .footer-col-6,
    .footer-col-7 {
        flex: 1;
        margin-right: 20px;
        margin-bottom: 20px;
        min-width: 200px;
    }

    .footer-col-1:last-child,
    .footer-col-2:last-child,
    .footer-col-3:last-child,
    .footer-col-4:last-child,
    .footer-col-5:last-child,
    .footer-col-6:last-child,
    .footer-col-7:last-child {
        margin-right: 0;
    }

    .footer-row-2 {
        .footer-col-7 {
            .social {
                a {
                    color: #fff;
                    font-size: 1.2rem;
                    transition: opacity 0.3s;

                    &:hover {
                        opacity: 0.7;
                    }

                    &:last-child {
                        margin-left: 15px;
                    }
                }

            }
        }
    }

    h3 {
        margin-top: 0;
        margin-bottom: 10px;
        color: #E31837;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    ul li {
        margin-bottom: 5px;
    }

    ul li a {
        text-decoration: none;
        color: #fff;
        display: block;
        padding: 5px 0;
    }

    ul li a:hover {
        color: #fff;
    }

    .payment-logos {
        display: flex;
        gap: 10px;
    }

    .payment-logos a {
        display: inline-block;
        width: 50px;
        height: 30px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        line-height: 30px;
        color: transparent;
        overflow: hidden;
    }
}

// Responsive
@media (max-width: 768px) {
    .navbar {
        padding: 1rem;

        .menu {
            position: fixed;
            // top: 127px;
            bottom: -100%;
            left: 0;
            // left: -100%;
            width: 100%;
            height: calc(100vh - 400px);
            background: white;
            flex-direction: column;
            align-items: center;
            padding: 2rem;
            transition: 0.3s;
            z-index: 1000;

            &.active {
                bottom: 0;
                // left: 0;
            }
        }

        .social {
            display: none;
        }

        .hamburger {
            display: block;

            &.active .bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }

            &.active .bar:nth-child(2) {
                opacity: 0;
            }

            &.active .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }
    }

    .servicios {
        padding: 4rem 1rem;
        text-align: center;

        .servicios-grid {
            grid-template-columns: 1fr;

            .servicio {
                margin: 0 1rem;

                .imagen-container {
                    height: 200px;
                }

                .circle-container {
                    top: 180px;
                }
            }
        }
    }

    .clientes {
        padding: 4rem 1rem;
        background: linear-gradient(to bottom, #ff0026c9, #E31837, #E31837, #E31837);

        .clientes-grid {
            grid-template-columns: 1fr;

            .cliente {
                .imagen-container {

                    .cliente-imagen {
                        width: 30%;
                    }
                }
            }

            &>article:nth-child(8),
            &>article:nth-child(9) {
                grid-column: span 1;
            }
        }
    }

    .proyectos-imagen-fondo {
        display: none;
    }

    .footer-row-1 {
        flex-direction: column;
    }

    .footer-col-1,
    .footer-col-2,
    .footer-col-3,
    .footer-col-4 {
        margin-right: 0;
    }

    .footer-row-2 {
        flex-direction: column;
    }

    .footer-col-5,
    .footer-col-6 {
        margin-right: 0;
    }

    .payment-logos {
        justify-content: start;
    }

    footer {
        .footer-row-2 {
            .footer-col-8 {
                a {
                    img {
                        display: flex;
                        justify-content: center;
                        text-align: center;
                    }
                }
            }
        }
    }

    .formulario {
        .formulario-grid {
            grid-template-columns: 1fr;
        }

        .formulario-grid-anidado {
            &.formulario-grid-anidado--izquierda {
                grid-template-areas:
                    "nombre"
                    "email"
                    "telefono"
                    "planeta"
                    "mensaje"
                    "info";
            }

            &.formulario-grid-anidado--derecha {
                grid-template-areas:
                    "titulo"
                    "feliz"
                    "rico"
                    "avion"
                    "dormir"
                    "privacidad"
                    "submit";
            }
        }
    }

    .swiper-slide {
        .slide-text-container {
            width: 100% !important;
            height: 50% !important;
            bottom: 0 !important;
            top: auto !important;
            background: linear-gradient(to top, #E31837, transparent) !important;

            .slide-text {
                font-size: 2rem;
            }
        }
    }
}